%div
  %p
    Treated <a href="fields/#{activity.trackable.field.id}">#{activity.trackable.field.name}</a> with 
  - if activity.trackable
    =link_to activity.trackable.supply.name, activity.trackable.field
  - else
    which has since been removed