input {
  width: 300px;
}

li {
  list-style-type:none;
}

ul.headers, ul.entry, ul.fields-headers, ul.fields-entry, ul.treatments, ul.treatments-entry {
  li {
    display:inline-block;
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
  }
}
