input {
  width: 300px;
}

li {
  list-style-type:none;
}

ul.headers, ul.entry, ul.fields-headers, ul.fields-entry, ul.treatments, ul.treatments-entry, ul.loads, ul.loads-entry {
  li {
    display:inline-block;
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
  }
}




path {
  stroke-width: 2;
  fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: lightgrey;
  // opacity: 0;
}

.x.axis .minor {
  stroke-opacity: 0;
}

.x.axis path, .y.axis path {
  display: none;
  stroke: #000;
}


.y.axis line {
  opacity:0;
}
