// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "proxima-nova", sans-serif;
  background-color: #eee;
  color:#444;
}

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

.row {
  margin-bottom: 10px;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 50px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

form {
  margin-top: 10px;
}

.form-group {
  margin-bottom: 3px;
}

input.form-control,input.form-control:focus, select.form-control, select.form-control:focus, textarea.form-control, textarea.form-control:focus {
    border:1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}

textarea {
  min-height: 85px;
}

textarea:focus {
  border: 1px solid $primary-color;
}

input.form-control:focus {
  border: 1px solid $primary-color;
}
