$primary-color: #2db56e;
$red: #eb6347;

a {
  color: $primary-color;
}

img {
  display:inline-block;
  margin: 0;
}

.inline {
  display:inline-block;
}

.right {
  float:right;
}

.center {
  margin: 0 auto;
}

.border {
  width: 100%;
  border-top: 2px solid #ddd;
  margin: 15px 0;
}

li {
  list-style-type:none;
}

.green {
  color:$primary-color;
}

.red {
  color: $red;
}

.number-good {
  font-size: 1.5em;
  font-weight: 600;
  color:$primary-color;
}


ul.headers, ul.entry, ul.fields-headers, ul.fields-entry, ul.treatments, ul.treatments-entry, ul.loads, ul.loads-entry {
  li {
    display:inline-block;
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color:#eee;
  color:$primary-color;
  font-weight: 600;
}

.nav-tabs > li > a {
  background-color:#ddd;
  color:#777;
}

.nav-tabs > li > a:hover {
  background-color: #ccc;
}

.page-title {
  border-bottom: 2px solid #ddd;
  margin: 0 0 5px 0;
  padding: 0 0 15px 0;

  h1 {
    font-size: 1.5em;
    font-weight: 600;
    color: #999;
    margin: 0 0 15px 0;
    display:inline-block;
    padding: 5px 0 0 0;
    margin: 0;
    vertical-align: middle;
  }

  h1.name {
    color:$primary-color;
  }

  i {
    color: $primary-color;
    font-size: .75em;
    margin:  0 5px;
    vertical-align: middle;
  }

  h3 {
    font-size: 1.1em;
    margin: 0;
    color: #999;
    padding: 5px 0 0 0;
    display:inline-block;
    vertical-align: middle;
  }

  a.btn {
    float:right;
  }
}

.btn {
  border-radius:0;
  background-color: $primary-color;
  color:#fff;
  padding: 5px 15px;
  margin: 0 5px;
}

.btn:hover {
  background-color: darken($primary-color, 5%);
  color:#fff;
}

.btn-big {
  padding: 10px 20px;
  font-size:1.2em;
  display:inline-block;
}

select.date {
  width: 30%;
  display:inline-block;
}

@media(max-width:768px) {
  .page-title {
    a.btn {
      float:none;
    }
  }
}



/* ================= LANDING PAGE ================== */
.farm-hero {
  height: 330px;
  background-size: cover;
  background-position:center;
  background-image: image-url("farm-hero.jpg");
  text-align: center;
  padding: 125px 0 0 0;

  img {
    display:block;
    width: 500px;
    height: auto;
    margin: 0 auto 20px auto;
  } 

  p {
    font-weight: 600;
    font-size: 2.5em;
    color:#fff;
    text-shadow: 0px 0px 8px #000;
  }
}

.features {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 25px;

  h3 {
    font-size: 1.5em;
    font-weight: 600;
    color:$primary-color;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  p {
    color: #777;
    font-size: 1em;
    padding: 0 20px;
  }
}

.brand {
  background-color: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 50px 25px;
  text-align: center;

  .row {
    max-width: 1100px;
  }

  img {
    display:inline-block;
    margin: 0 auto;
  }

  img.tagline {
    padding-top: 65px;
  }
}

.about {
  h3 {
    color:$primary-color;
    font-weight: 600;
    margin: 20px 0 25px 0;
    border-bottom: 2px solid #ddd;
    padding: 20px 0;
  }

  p {
    font-size:1.2em;
    color:#777;
    line-height: 1.5;
  }

  img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    display:block;
  }

}

.footer {
  background-color:$primary-color;
  height: 250px;
  text-align: center;
  padding: 100px 50px;
  margin: 40px 0 0 0;

  img {
    display:block;
    width: 400px;
    height: auto;
    margin: 0 auto 20px auto;
  } 
}
